[submodule "roles/docker-swarm"]
	path = roles/docker-swarm
	url = https://github.com/Rodjers/ansible-docker-swarm.git
[submodule "roles/haproxy"]
	path = roles/haproxy
	url = https://github.com/Rodjers/ansible-haproxy.git
[submodule "roles/keepalived"]
	path = roles/keepalived
	url = https://github.com/Rodjers/ansible-keepalived.git
[submodule "roles/go"]
	path = roles/go
	url = https://github.com/jlund/ansible-go.git
