[submodule "roles/docker-swarm"]
	path = roles/docker-swarm
	url = https://github.com/Rodjers/ansible-docker-swarm.git
[submodule "roles/haproxy"]
	path = roles/haproxy
	url = https://github.com/Rodjers/ansible-haproxy.git
[submodule "roles/keepalived"]
	path = roles/keepalived
	url = https://github.com/Rodjers/ansible-keepalived.git
[submodule "roles/go"]
	path = roles/go
	url = https://github.com/jlund/ansible-go.git
[submodule "roles/grafana"]
	path = roles/grafana
	url = https://github.com/picotrading/ansible-grafana.git
[submodule "roles/prometheus"]
	path = roles/prometheus
	url = https://github.com/William-Yeh/ansible-prometheus
[submodule "templates/encoder"]
	path = templates/encoder
	url = https://github.com/picotrading/config-encoder-macros
[submodule "roles/consul"]
	path = roles/consul
	url = https://github.com/Rodjers/ansible-consul
